{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "semi": [1, "never"],
    "new-cap": 0,
    "react/prefer-stateless-function": 0,
    no-param-reassign: [2, { "props": false }],
  },
}
