.picker {
  width: 700px;
  margin: 1em auto;
}
.slider {
  margin-bottom: 60px;
}

.slide {
  display: inline-block !important;
  width: calc(50% - 14px);
  margin: 5px;
  border: 2px solid transparent;
}

.selectedSlide {
  composes: slide;
  border: 7px solid #31b0d5;
}
