.getStartedD{
  margin-top: 60px;
}
.ourA{
  font-size: 38px;
  color: #999;
  text-transform: uppercase;
  width: 70%;
  margin: auto;
}
.ourAyellow{
  color: #e9c706;
}
.startButton{
  width: 345px;
  height: 100px;
  background: #f1d11a;
  font-size: 34px;
  text-transform: uppercase;
  border:none;
  border-radius: 1px;
  margin-top: 40px;
  margin-bottom: 120px;
}
.startButton:hover,.startButton:focus,.startButton:active,.startButton:active:hover{
  background: #e9c706;
  outline: none;
}
.take{
  text-transform: uppercase;
  font-size: 54px;
  line-height: 1;
  color:#000;
  margin-top: 0px;
}
.takeQ{
  font-size: 120px;
  margin-left: -25px;
}
.separatorQ{
  width: 60px;
  height: 4px;
  background: #c49b33;
  margin: 10px auto;
}
