.reset {
  float: left;
}

.startButton {
  margin: 0 auto;
}

.next {
  float: right;
}

.buttonBar {
  text-align: center;
  overflow: auto;
  width: 100%;
  margin: 1em 0;
}

.textHolder {
  text-align: center;
}
