.reset {
  float: left;
}

.startButton {
  margin: 0 auto;
}

.next {
  float: right;
}

.buttonBar {
  text-align: center;
  overflow: auto;
  width: 100%;
  margin: 1em 0;
}

.textHolder {
  text-align: center;
}

.socialBar {
  text-align: center;
}

.socialBar > a {
  margin: 1em;
}
.take{
  text-transform: uppercase;
  font-size: 64px;
  line-height: 1;
  color:#000;
}
.takeQ{
  font-size: 140px;
  margin-left: -25px;
}
.separatorQ{
  width: 60px;
  height: 4px;
  background: #c49b33;
  margin: 10px auto;
}
.steps{
  list-style: none;
  clear:both;
  text-align: center;
  margin: auto;
  width: 450px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0px;
}
.steps li{
  display: inline-block;
  width: 82px;
  height: 82px;
  margin-right: 32px;
  border: 1px solid #e2e2e2;
  font-size: 36px;
  line-height: 82px;
  color:#666;
}
.steps li:last-child{
  margin-right: 0;
}
.steps li:global(.active){
  background: #525252;
  color:#fff;
}
