.image {
  margin-bottom: 0.7em;
  width: 100%;
}
.imageBlock:hover .image{
  opacity: 0.5;
}
.title {
  text-align: center;
  margin-bottom: 5px;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
.price{
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 16px;
}
.imageBlock{
	position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}
.imageBlock:hover .title{
	color: #999999;
}
.imageBlock:hover .checkItem{
	display: block;
}
.checkItem{
	display: none;
	position: absolute;
	top: 32%;
	left: 37%;
	z-index: 999;
}
.checkItem i{
	font-size: 90px;
}
.oneImageBlock{
	position: relative;
}
@media screen and (max-width: 786px)
{	
	.checkItem{
		left: 37%;
	}
	.checkItem i{
		font-size: 12vw;
	}
}	