.almostD{
	color: #737373;
	text-transform: uppercase;
	font-size: 34px;
}
.enterEmail{
	color: #999999;
	text-transform: uppercase;
	font-size: 60px;
	line-height: 70px;
}
.subHeader{
	color: #cc9900;
	font-size: 30px;
	text-transform: uppercase;
}
.startButton{
	width: 445px;
  height: 130px;
  background: #f1d11a;
  font-size: 34px;
  text-transform: uppercase;
  border:none;
  border-radius: 1px;
  margin-top: 60px;
  margin-bottom: 120px;
}
.startButton:hover,.startButton:focus,.startButton:active,.startButton:active:hover{
  background: #e9c706;
  outline: none;
}
.mainForm{
	width: 630px;
}