.navBarMain{
	background-color: #fff;
	border:none;
}
.navBarMain a{
	color: #333333!important;
	text-transform:uppercase;
	font-size:12px;
}
.navBarMain a:hover,.navBarMain a:focus,.navBarMain :global(li.active) a{
	color:#ff3f45!important;
	background-color:white!important;
}
.shoppingCart{
	background-image: url("../../../img/cart.png");
	width: 37px;
	height: 37px;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
}
.badgeRed{
	background: #cc0000;
	position: absolute;
    right: 5px;
    top: 37px;
    
}
.navBarMenu,.navBarHeader{
	margin-top:12px;
}
.navBar{
	float:right;
}
