.paddingForm {
  margin: 0 0.5em;
}

.image {
  display: block;
  width: 100%;
  max-height: 75vh;
  margin: 0 auto;
}

.navButtonPrev {
  display: inline-block;
}

.navButtonRight {
  display: inline-block;
  float: right
}
