.img3{
  width: 50%;
}
.paddingForm {
  margin: 0 0.5em;
}

.image {
  display: block;
  width: 100%;
  max-height: 75vh;
  margin: 0 auto;
}

.navButtonPrev {
  display: inline-block;
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    left: 25px;
    top: 50%;
    border:none;
    background: transparent;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}

.navButtonRight {
  display: inline-block;
  float: right;
      position: absolute;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    right:0px;
    top: 50%;
    border:none;
    background: transparent;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}
.navButtonPrev:hover, .navButtonRight:hover{
  background: transparent;
  color:#999;
}
.modalContent  :global(.modal-content){
  border-radius: 0px;
}
.modalBody{
  padding: 70px 90px;
  border-radius: 0px;

}
.title{
  margin-top: 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: Montserrat;
}
.addToCartBlock :global(.form-group){
  display: inline-block;
  margin:0px;
}
.addToCartBlock button{
  width: 200px;
  height: 50px;
  border-radius: 0px;
  background: #333333;
  border:none;
  text-transform: uppercase;
  margin-top: -10px;
  font-size: 16px;
}
.addToCartBlock button:global(.dec),.addToCartBlock button:global(.inc){
  display: inline-block;
  width: 30px;
  height: auto;
  background: white;
  margin-top: 0px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 48px;
  padding: 0px;
}
.addToCartBlock button:global(.dec:focus),.addToCartBlock button:global(.inc:focus){
  outline:none;
}
.addToCartBlock select{
  height: 50px;
  border-radius: 0px;
  text-align: center;
}
:global(.form-control){
  border-radius: 0px!important;
  box-shadow: none;
}
:global(.control-label){
  text-transform: uppercase;
  font-size: 14px;
}
.closeBtn{
  background: #333;
    width: 40px;
    height: 40px;
    text-shadow: none;
    color: white;
    opacity: 1;
    line-height: 40px;
    font-weight: 400;
    padding: 0 8px;
    font-size: 24px;
}
.closeBtn i{
  font-size: 24px;
  color:white;
}
.closeBtn:hover{
  background: #6F6E6E;
  opacity: 1;
  color:white;
  cursor: hand;
  cursor: pointer;
}
.price{
  font-size: 16px;
  font-weight: bold;
}
.selectInput{
  border-radius: 0px;
  appearance: none;
  z-index: 10;
  position: relative;
  background-color: transparent;
  height: 40px;
}
.selectDiv{
  background-color: #FFF;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.selectDiv label:after, .QuantityAdd label:after{
  content: '  * ';
  font-size: 16px;
  color:#cc0000;
}
.selectDiv label{
  margin-bottom: 15px;
  font-family: Montserrat;
  font-weight: 400;
}
.selectDiv > :global(.form-group:after){
  content: "\F078";
    display: block;
    font-size: 18px;
    right: 12px;
    top: 48px;
    position: absolute;
    line-height: 1;
    font: normal normal normal 14px/1 FontAwesome;
    z-index: 5;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}
.QuantityAdd{
  display: inline-block;
  margin-right: 20px;
}
.QuantityAdd label{
  display: block;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-weight: 400;
}
.inputAdd{
  border: 1px solid #ccc;
  height: 50px;
}
.inputAddQuantity{
    border: 0px;
    background-color: #fff;
    width: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #000;
}
.inputAddQuantity[disabled]{
  background-color: white;
}

.threeImagesBlock{
  display: block;
  position: relative;
  width: 100%;
  margin-top: 15px;
}
.threeImage{
  width: 30%;
  height: auto;
  margin-right: 5%;
}
.threeImagesBlock > img:last-child{
  margin-right: 0;
}