.tumbnail {
  width: 200px;
}
.imageColumn {
  width: 1%;
}
.resetCart {
  cursor: pointer;
}
.cartContainer{
	margin-top: 40px;
}
.cartContainer h2{
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 30px;
}
.cartTable tbody{
	border-bottom: 1px solid #ddd;
}
.cartTable th:nth-child(2){
	text-align: left;
}
.cartTable th{
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
}
.cartTable td{
	text-align: center;
	padding: 30px 8px!important;
	font-size: 16px;
	line-height: 1;
}
.cartTable td:nth-child(3){
	text-align: left;
}
.cartTable h4{
	font-family: 'Lato',sans-serif;
	font-size: 18px;
	margin-top: 0px;
}
.cartTable a{
	color: black;
}
.removeItem{
	font-size: 24px;
	line-height: 1;
}
.cartTable a.removeItem:hover{
	color: #ccc;
	text-decoration: none;
}
.total{
	float: right;
	text-transform: uppercase;
	text-align: right;
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
}
.subtotal{
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.grandTotal{
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
.totalPrice{
	color:#ff3f45;

}
.resetCart{
	border: 1px solid #ddd;
	float: left;
	padding: 8px 20px;
	text-transform: uppercase;
	font-size: 14px;
}
.resetCart:hover{
	background: #ccc;
}
.buttonCheck{
	clear: both;
	background: #333333;
	border: 1px solid #333;
	border-radius: 0px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	padding: 12px 20px;
}
.buttonCheck:hover, .buttonCheck:focus, .buttonCheck:active{
	background: #716E6E;
	border: 1px solid #716E6E;
	outline:none;
}
.grey{
	color: #999;
}
.empty{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	margin-top: 80px;
	padding-bottom: 80px;
}