.carousel{
	max-height: 600px;
}
.carouselItem{
	 max-height: 600px;
}
.carouselItem h3,.carouselItem p{
	text-transform: uppercase;
	font-weight: bold;
}
.carouselItem h3{
	font-size: 60px;
}
.carouselItem p{
	font-size: 38px;
}
.buttonsGroup p{
	font-size: 11px;
	line-height: 18px;
}
.buttonsGroup {
	margin-top: 80px;
}
.buttonsGroup div{
	display: inline-block;
}
.buttonsGroup div > button{
	width: 235px;
	height: 70px;
	border-radius: 1px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	}
.buttonsGroup div > button.btnYellow{
	background: #f0cd06;
	margin-right: 30px;
	border:none;
	color:#000;
	position: relative;
}	
.buttonsGroup div > button.btnBlack{
	background: #000;
	border:none;
	color:#fff;

}	
.arrowBtn{
	background: url(../../../img/arrow.png) 0 0;
	width: 152px;
	height: 70px;
	display: block;
	position: absolute;
	left:-165px;
	top:-15px;
}